[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/erc20"]
	path = lib/erc20
	url = https://github.com/dapphub/erc20
